<!DOCTYPE html>
<html>
<head>
	<title>Angular Learning</title>

<style type="text/css">
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
background: rgb(35,205,116);
word-wrap: break-word;
}
div{
	border: 2px outset #D0D8D7;
  border-radius: 5px;
  background-color: #FEFEFE;
  box-shadow: 0px 0px 8px #D0D8D7;
  margin: 20px;
  padding: 20px;
  /*height: 100px;*/
  /*overflow: auto;*/
	}
	span{
		font-size: 1.5rem;
		font-weight: bolder;
		display: block;
	}
	p{
		font-size: 1.3rem;
		/*font-weight: bolder;*/
	}
	img{
		max-width: 80vw;
	}
	.code{
		display: inline-block;
		width: 28vw;
		  margin: 5px;
	}
	textarea{
		display: block;
		resize: none;
		width: 100%;
		height: 200px;
	}

@media screen and (max-width: 992px) {
  .code{
			width: 95vw;
			max-width: 95%;
	}
}


</style>


</head>
<body>
<div>	
	<span>Angular Learning</span>
	<p>
	<br>&#8594; JavaScript-based
	<br>&#8594; open-source
	<br>&#8594; front-end web framework	
	<br>&#8594; maintained by Google
	<br>&#8594; single-page applications
	<br>&#8594;written in TypeScript.
	</p>
</div>


<div>
	<span>Angular Vs AngularJs</span>
	<p><br>&#8594;AngularJs is older version First version,
		<br>&#8594;After that(form second version) it is known as Angular</p>
</div>

<div>
	<span>How to use Angular</span>
	<p><br>&#8594;1.Used with NPM &#8594; <b>Angular</b></p>
	<p><br>&#8594;2.Direct can be added to a web page with a script tag:

&#x3C;script&#xA0;src=&#x22;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js&#x22;&#x3E;&#x3C;/script&#x3E;  &#8594; <b>AngularJs</b>
</p>
<p><br>&#8594;Mostly 90% people use it with NPM</p>
</div>



<div>
	<span>NodeJs vs Npm</span>
	<p><br>&#8594;Node. js runtime is basically what will understand your javascript code and execute it to produce a result. 

<br><br>&#8594;Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.


		<br>&#8594;Npm package manager is a tool which will allow you to install third party libraries (other people's code) by using the command line.</p>

		<p><br>&#8594;https://nodejs.org/en/</p>
		<p></p>
</div>

<div>
	<span>Check Node installation</span>
	<p><br>&#8594; node -v</p>
	<p><br>&#8594; npm -v</p>
</div>


<div>
	<span>installation of angular</span>
	<p>&#8594; npm install -g @angular/cli@next

</p>
</div>
<div>
<span>Check if Angular is installed!!</span>
<p>&#8594; ng version</p>
</div>

<div>
	<span>Creating New Project</span>
	<p>&#8594;ng new Learn
		<br>&#8594; Hear learn is project name</p>
		<img src="img/ref1.PNG">
</div>
<div>
	<span>Open visual studio code from cli</span>
	<p>&#8594; code .</p>

</div>

<div>
	<span>Devloping Bulid</span>
	<p>&#8594; ng serve</p>
	<img src="img/ref2.PNG">
	<p><br>&#8594; this command host live server!!!!!</p>
</div>
<div>
<span>Project Home Page!!!</span>
	<img src="img/ref3.PNG">
	<p>home page or application Entery point &#8594; learn\src\index.html</p>
<p></p>
</div>
<div>
	<span>Package.json file</span>
	<p>&#8594; exists at the root of a Javascript/Node project</p>
	<p>&#8594; It holds metadata relevant to the project</p>
	<p>&#8594; used for managing the project's dependencies, scripts, version and a whole lot more</p>
		<img src="img/ref4.PNG">
</div>

<div>
	<span>node_modules folder</span>
	<p><br>&#8594;Module in Node. js is a simple or complex functionality 

	<br>&#8594;organized in single or multiple JavaScript files

	 <br>&#8594;which can be reused throughout the Node. js application.


<br><br>&#8594;Each module in Node. js has its own context,

<br>&#8594; so it cannot interfere with other modules or pollute global scope.

	</p>
</div>

<div>
	<span>Index.html ?? &#x3C;app-root&#x3E;&#x3C;/app-root&#x3E;</span>
	<p>It is component</p>
	<p>&#8594; src\app\app.component.html</p>
<p>&#8594; Remove all Default HTML code from app.component.html</p>

</div>
<div>
	<p>&#8594;src\app\app.component.ts</p>
	<p>export class AppComponent {
  title = 'Learn';
}</p>
<p>&#8594;src\app\app.component.html</p>
<p>{{title}}</p>
<p>&#8594;Output in index.html</p>
<p>learn</p>
<br>
<span>This is called Interpolation!!!!</span>
</div>

<div class="code"><span>Index.html</span><textarea><!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Learn</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html>
</textarea></div>
<div class="code"><span>app.component.html</span><textarea><h1>My First Edditing in angular</h1>
{{title}}
<h1>{{name}}</h1>
<h1>{{6*7}}</h1>
<h2>{{a+ar[0]}}</h2>
<h2>{{b+ar[1]}}</h2>
<h2>{{url}}</h2></textarea></div>
<div class="code"><span>app.component.ts</span><textarea>import { Component } from '@angular/core';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  title = 'Learn';
  name ='vatsal';
  a=5;
  b='10';
  ar=[5,6,8,9];
  url= window.location.href;
}
 </textarea>

</div>

<div>
	<img src="img/ref5.PNG">
</div>
<div>
	<span>Ts rules</span>
	<p>var,Let, function like prefix are not required to define variable or function</p>
</div>

<div>
	<span>Components.....</span>
	<p><br>&#8594;Components are independent and reusable bits of code.</p>
	<p><br>&#8594;They serve the same purpose as JavaScript functions</p>
	<p><br>&#8594;but work in isolation and returns HTML via a render function</p>
	<p><br>&#8594;Components come in two types</p>
	<p><br>&#8594;Class components and Function components</p>
	<p><br>&#8594; Components conatins four files</p>
	<p><br>&#8594; We alrady have root app Component</p>
</div>
<div>
	<span>Genrating New Components using CLI</span>
	<p>&#8594; ng g c userlist</p>
<p> Here g for genrate, c for component and userlist is component name,..</p>
</div>
<div>
	<span>How to use Components?</span>
</div>

<div class="code"><span>app.component.html</span><textarea>
<h1>My First Edditing in angular</h1>
{{title}}
<h1>{{name}}</h1>
<h1>{{6*7}}</h1>
<h2>{{a+ar[0]}}</h2>
<h2>{{b+ar[1]}}</h2>
<h2>{{url}}</h2>
<h1><app-userlist></app-userlist></h1>	
</textarea></div>
<div class="code"><span>userlist.component.html</span><textarea>
	<p>userlist works!</p>
</textarea></div>
<div class="code"><span>userlist.component.ts</span><textarea>
	import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-userlist',
  templateUrl: './userlist.component.html',
  styleUrls: ['./userlist.component.css']
})
export class UserlistComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}

</textarea></div>

<div>
<img src="img/ref6.PNG">	
</div>

<div>
	<span>Components selector value is used as html tag!!! ex. &#x3C;app-userlist&#x3E;&#x3C;/app-userlist&#x3E;</span>
</div>



<div>
	<span>Steps to delete a component in Angular</span>
<ol>
<li>Remove the import line reference from Angular&nbsp;<code>app.module.ts</code>&nbsp;file.</li>
<li>Remove the component declaration from @NgModule declaration array in&nbsp;<code>app.module.ts</code>&nbsp;file</li>
<li>And then manually delete the component folder from Angular project.</li>
<li>Finally Delete all the references of component manually from the Angular project.</li>
</ol>
<p>In Angular CLI,there is no command available to delete a component created by Angular CLI as of now.</p>
<p>There is no&nbsp;ng delete component command as part of Angular CLI.</p>
<p>If you want to know what will happen at the time of component creation. you can try&nbsp;<code>--dry--run</code>&nbsp;flag</p>
<pre><code>ng generate component test --dry--run
CREATE src/app/test/test.component.html (23 bytes)
CREATE src/app/test/test.component.spec.ts (614 bytes)
CREATE src/app/test/test.component.ts (261 bytes)
CREATE src/app/test/test.component.css (0 bytes)
UPDATE src/app/app.module.ts (914 bytes)

NOTE: The "dryRun" flag means no changes were made.
</code></pre>
<p>No changes being made to the project.</p>
</div>


<div>
	<span>What is Modules???</span>
	<p><br>&#8594;In Angular, a module is a mechanism to group components, directives, pipes and services </p>
	<p><br>&#8594;that are related, in such a way that can be combined with other modules to create an application.</p>
</div>

<div>
<span>
How to genrate modules & components inside modules
</span>
<p><br>&#8594;ng g m user</p>
<p><br>&#8594;ng g c user/login<br><br>
</p>
<img src="img/ref7.PNG">
</div>

<div>
	<span>Import and export componets from one modules to other!!!!</span>
	
	<div class="code"><p><br>&#8594; Step 1: exporting component in module.ts</p><span>src\app\user\user.module.ts</span><textarea>
		import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { LoginComponent } from './login/login.component';



@NgModule({
  declarations: [LoginComponent],
  imports: [
    CommonModule
  ],
  exports:[
    LoginComponent
  ]
})
export class UserModule { }

	</textarea>

<textarea>exports:[
    LoginComponent
  ]</textarea>


</div>
<div class="code">
	<p><br>&#8594; Step 2:Importing module.ts</p>
<span>src\app\app.module.ts</span>
<textarea>import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';
import { UserlistComponent } from './userlist/userlist.component';
import { UserModule } from './user/user.module';


@NgModule({
  declarations: [
    AppComponent,
    UserlistComponent
  ],
  imports: [
    BrowserModule,
    UserModule
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
</textarea>
<textarea>
	import { UserModule } from './user/user.module';




	&&



	 imports: [
    BrowserModule,
    UserModule
  ],
</textarea>

</div>

<div class="code">
	<p><br>&#8594; Step 3:</p>
	&#x3C;app-login&#x3E;&#x3C;/app-login&#x3E;
</div>



</div>


<div>
	<span>Function call</span>
	<p>Function define and call must be done in same component</p>

	<div class="code"><p>app.component.html</p><textarea>
		<button (click)="get(name)">get alert</button>
	</textarea></div>
	<div class="code"><p>app.component.ts</p><textarea>
		import { Component } from '@angular/core';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  title = 'Learn';
  name ='vatsal';
  a=5;
  b='10';
  ar=[5,6,8,9];
  url= window.location.href;
    get(a){
    alert(a)
  }
}
 
	</textarea></div>
<div class="code"><p>Hear paremeter name:a, we have property a, But output is Vatsal</p></div>
</div>
<div>
	<span>access variable inside a function</span>
	<p><textarea> mg =5;
  get1(){
    alert(this.mg)
  }</textarea></p>
  <p><br>&#8594;here  if you want to make a scope variable and access throughout the component,

  <br><br>&#8594;in the latest angular version you need to use <b>this</b> to access throughout.</p>
</div>
	

<div>
	<span>Types of HTML elements</span>
<div class="code">
	<p><b>Void elements</b></p>
	<p><br>&#8594; only have a start tag</p>
	<p><br>&#8594; which contains any HTML attributes.</p>
	<p><br>&#8594; They may not contain any children, such as text or other elements,</p>
	<p><br>&#8594; ex. area , base , br , col , command , embed , hr , img , input , keygen , link , meta , param , source , track , wbr.</p>
</div>	
<div class="code">
	<p><b>Raw text elements</b></p>
	 <p><br>&#8594; have a start tag and end tag</p>
	 <p><br>&#8594; which contains any HTML attributes.</p>
	 <p><br>&#8594; element must not contain other elements, only plain text.</p>
	 <p><br>&#8594; some amount of content, including text and other element.</p>
	 <p><br>&#8594; ex. title</p>
</div>	
<div class="code">
	<p><b>Normal elements</b></p>
	<p><br>&#8594; have both a start tag and an end tag</p>
	<p><br>&#8594; contain any children, such as text or other elements</p>
	<p><br>&#8594; ex. All</p>

</div>	



</div>
<div>
	<span>Important Events !..</span>
	<p>click,keyup,keydown,keyup with enter or space, blur,mouseover etc</p>
<div class="code"><span>app.component.html</span>
<textarea>
<input #box type="text" (keyup.space)="myEvent(box.value)"/>
<br><br>
<button (click)="myEvent(box.value)">get input box in console</button>
<br><br>
<div (mouseover)="myEvent('mouse over event')" style="background-color: antiquewhite;">Mouse event</div>
</textarea>
</div>
<div class="code"><span>app.component.ts</span>
<textarea>
	 myEvent(run){
    console.warn("shdf");
    console.log(run);
  }
</textarea>
</div>
<span>Binding multiple events to an element in angular works fine,,..</span>
<textarea><input #box type="text" (click)="myEvent(box.value)" (keyup)="myEvent(box.value)"/>
</textarea>
</div>
<div>
	<span>Get Value from input and assign it to other element,...</span>
	<div class="code"><p>app.component.html</p>
		<textarea>
			<br><br>
<input type="text" (keyup)="getSet($event.target.value)"/>
<br><br>
<div style="background-color: beige;">{{boxvalue}}</div>
<br><br>
		</textarea></div>
	<div class="code"><p>app.component.ts</p>
		<textarea>boxvalue;
getSet(val){
  this.boxvalue = val;
}</textarea></div>

<p>$event.target.value <b>$ is important!,..</b></p>

</div>
<div>
	<span>Interpolation Vs Property Binding</span>
	<p><br>Interpolation &#8594;  &#x3C;input type=&#x22;text&#x22; value={{name}} /&#x3E;</p>
	<p><br>Property Binding &#8594;  &#x3C;input type=&#x22;text&#x22; [value]=&#x22;name&#x22; /&#x3E;</p>
	<p><br>Although Interpolation and data binding are alternate to each other.

	<br><br>&#8594; But the key difference between them is that if we can concatenate string in interpolation case.

<br><br>&#8594; myIcon1 = &#x22;sample.jpg&#x22;;

<br><br>&#x3C;img class=&#x22;icon&#x22; src=&#x22;https://www.sample/{{myIcon1}}&#x22;/&#x3E;

<br><br>&#8594;<b> Property Binding is used to set an element property to a non-string data value</b>

    <br><br>&#x3C;button [disabled]=&#x27;isDisable&#x27;&#x3E;Click Me&#x3C;/button&#x3E;

<br><br>&#8594; Changing disable property will disable/enable button accordingly.
 But if we use

    <br><br>&#x3C;button disabled=&#x27;{{isDisable}}&#x27;&#x3E;Click Me&#x3C;/button&#x3E;

<br><br>&#8594; Button will always be disable irrespective of isDisable Property</p>
</div>

<div>
	<span>If else condition,....</span>
	<div class="code"><p>app.component.html</p>
<textarea>
	<h1>If condition ,...</h1>
<h2 *ngIf="show else elseBlock">if ,...</h2>
<ng-template #elseBlock>
    <h2 >else ,...</h2>
</ng-template>
</textarea>
	</div>
	<div class="code"><p>app.component.ts</p>
<textarea>
	show=false;
</textarea>
	</div>
	<p><br>&#8594; Ng templete is important,...</p>
</div>
<div>
	<span>Typescript code not working in Javascript code and wise verse</span>
</div>

<div>
	<span>What is ng template used for?</span>
	<p><br>&#8594;ng-template is never rendered directly.
	 <br>&#8594;If you add a ng-template tag to your template,
	 <br>&#8594;it and everything inside it will be replaced by a comment.</p>
</div>

<div>
	<span>Ng Switch case</span>
	<p>&#x3C;div [ngSwitch]=&#x22;colors&#x22;&#x3E;
    &#x3C;h2 *ngSwitchCase=&#x22;&#x27;red&#x27;&#x22;&#x3E;red&#x3C;/h2&#x3E;
    &#x3C;h2 *ngSwitchCase=&#x22;&#x27;green&#x27;&#x22;&#x3E;green&#x3C;/h2&#x3E;
&#x3C;/div&#x3E;</p>
</div>


<div>
	<span>for loop</span>
	<div class="code"><p>app.component.html</p>
<textarea>
	
<br><br>
<h1>for loop with array</h1>
<h3 *ngFor="let item of data">{{item}}</h3>
   <br><br>
   <h1>for loop with object</h1>
   <h3 *ngFor="let item of dataObj">{{item.name}} {{item.age}}</h3> 
   <br><br>
   <h1>for loop with object inside table</h1>
   <table border="1">
       <tr *ngFor="let item of dataObj">
           <td>{{item.name}}</td>
           <td>{{item.age}}</td>
       </tr>
   </table>

</textarea>
	</div>
	<div class="code"><p>app.component.ts</p>
<textarea>
	data =["anil","vatsal","hitesh","ram"];

dataObj =[
  {
  name:"ram",
  age:25
},
{
  name:"vatsal",
  age:22
},
{
  name:"hitesh",
  age:30
},
]
</textarea>
	</div>
</div>



<div>
	<span>Vs code sortcuts</span>
<br><br><p>Alt+ ↑ / ↓ Move line up/down</p>
<br><br><p>Shift+Alt + ↓ / ↑ Copy line up/down</p>
<br><br><p>Ctrl+Shift+K Delete line</p>
<br><br><p>Ctrl+Enter Insert line below</p>
<br><br><p>Ctrl+Shift+Enter Insert line above</p>

<br><br><p>Alt+Click Insert cursor</p>
<br><br><p>Ctrl+L Select current line</p>
<br><br><p>Ctrl+Shift+L Select all occurrences of current selection</p>
<br><br><p>Ctrl+F2 Select all occurrences of current word</p>



<br><br><p>Ctrl+Space Trigger suggestion</p>
<br><br><p>Ctrl + B toggle side expoler</p>
<br><br><p>Ctrl+Shift+E show current file in expoler</p>


</div>

<div>
	<span>Simple Form</span>
	<div class="code"><p>app.module.ts</p>
<textarea>
	import {FormsModule} from '@angular/forms';
	 imports: [
    BrowserModule,
    UserModule,
    FormsModule
  ],
</textarea>
	</div>
	<div class="code"><p>app.component.ts</p>
<textarea>
	getFormValue(value){
  console.log(value)
}
</textarea>
	</div>
	<div class="code"><p>app.component.html</p>
<textarea>
	<form #simpleform="ngForm" (ngSubmit)="getFormValue(simpleform.value)">
    <input type="text" ngModel name="name" placeholder="enter name"/><br><br>
    <input type="text" ngModel name="address" placeholder="enter address"/><br><br>
    <input type="text" ngModel name="age" placeholder="enter age"/><br><br>
<button>Get Value</button>
</form>
</textarea>
	</div>
</div>

<div>
	<span>Style binding</span>
	<div class="code"><p>Html</p>
<textarea><h1  [style.color]="colr">style binding</h1>
<h1  [style.color]="err?'red':'green'">style binding</h1>
<br><br>
<button (click)="updateclr()" > Change clr</button>
<br><br></textarea>
	</div>
	<div class="code"><p>ts</p>
<textarea>colr ="green";
err =true;
updateclr(){
  this.err = !this.err;
  this.colr="red"
}</textarea>
	</div>
</div>

<div>
	<span>Adding Bootstarp</span>
	<p>&#8594; $ ng add @ng-bootstrap/ng-bootstrap &#8594; installing bootstrp </p>
	<p>&#8594; https://ng-bootstrap.github.io/#/home &#8594; finding some command</p>
</div>

<div>
	<span>What is Angular Directive</span>
	<p>There are three kinds of directives in Angular:</p>
	<div class="code"><p>Component Directive</p>
<br>&#8594; Components are special directives in Angular.
<br>&#8594; They are the directive with a template (view)
	</div>
	<div class="code"><p>Structural directives</p>
<br>&#8594; Structural directives can change the DOM layout by adding and removing DOM elements. 
<br>&#8594; All structural Directives are preceded by Asterix symbol
<br>&#8594; asterisk (*)
<br>&#8594; Ex, *ngFor ,
	</div>
	<div class="code"><p>Attribute directives</p>
<br>&#8594; An Attribute or style directive can change the appearance or behavior of an element.
<br>&#8594; Ex, ngModel,ngClass,ngStyle
	</div>
</div>
<!-- <script type="text/javascript">
const divv = document.querySelectorAll("div span");
divv.forEach(myFunction)
function myFunction(item, index, arr) {
  // arr[index] = item * 10;
  document.body.innerHTML += "<span id='"+index+"'>"+item.innerHTML+"</span><br>";
}
</script> -->
 
</script>
</body>
</html>