<app-headder></app-headder>


<h1>My First Edditing in angular</h1>
{{title}}
<h1>{{name}}</h1>
<h1>{{6*7}}</h1>
<h2>{{a+ar[0]}}</h2>
<h2>{{b+ar[1]}}</h2>
<h2>{{url}}</h2>
<h1><app-userlist></app-userlist></h1>
<h1><app-login></app-login></h1>
<button (click)="get(name)">get alert</button>
<br><br>
<button (click)="get1()">get alert1</button>
<br><br>

<input #box type="text" (click)="myEvent(box.value)" (keyup)="myEvent(box.value)"/>
<br><br>
<button (click)="myEvent(box.value)">get input box in console</button>
<br><br>
<div (mouseover)="myEvent('mouse over event')" style="background-color: antiquewhite;">Mouse event</div>
<h1>One box to other div live value,..</h1>
<br><br>
<input type="text" (keyup)="getSet($event.target.value)"/>
<br><br>
<div style="background-color: beige;">{{boxvalue}}</div>
<br><br>

<h1>Interpolation Vs Property Binding</h1>
<br><br>
<input type="text" value={{name}} disabled={{dis}}/>

<br><br>
<input type="text" [value]="name" [disabled]="dis"/>

<br><br>
<button (click)="changeValue()">Change box value</button>
<br><br>
<h1>If condition ,...</h1>
<h2 *ngIf="show=='yes' else elseBlock">if ,...</h2>
<ng-template #elseBlock>
    <h2 >else ,...</h2>
</ng-template>

<br><br>
<h1>if satement with ngtemplate and property binding</h1>
<ng-template [ngIf]="colors=='red'">
    <h1>red</h1>
</ng-template>
<ng-template [ngIf]="colors=='green'">
    <h1>green</h1>
</ng-template>

<br><br>
<h1>Switch case</h1>

<div [ngSwitch]="colors">
    <h2 *ngSwitchCase="'red'">red</h2>
    <h2 *ngSwitchCase="'green'">green</h2>
</div>

<br><br>
<h1>for loop with array</h1>
<h3 *ngFor="let item of data">{{item}}</h3>
   <br><br>
   <h1>for loop with object</h1>
   <h3 *ngFor="let item of dataObj">{{item.name}} {{item.age}}</h3> 
   <br><br>
   <h1>for loop with object inside table</h1>
   <table border="1">
       <tr *ngFor="let item of dataObj">
           <td>{{item.name}}</td>
           <td>{{item.age}}</td>
       </tr>
   </table>
<br><br>
<h1>Simple form</h1>
<form #simpleform="ngForm" (ngSubmit)="getFormValue(simpleform.value)">
    <input type="text" ngModel name="name" placeholder="enter name"/><br><br>
    <input type="text" ngModel name="address" placeholder="enter address"/><br><br>
    <input type="text" ngModel name="age" placeholder="enter age"/><br><br>
<button>Get Value</button>
</form>

<h1  style="color: red;">style binding</h1>
<h1  [style.color]="colr">style binding</h1>
<h1  [style.color]="err?'red':'green'">style binding</h1>
<br><br>
<button (click)="updateclr()" > Change clr</button>
<br><br>
<button mat-flat-button color="accent">Accent</button>

<h1><app-userlist [hero]="data" ></app-userlist></h1>
<h1 *ngFor="let daataa of dataObj"><app-userlist [hero1]="daataa"></app-userlist></h1>
<h1><app-userlist (parent)="parentCompo($event)" ></app-userlist></h1>
<h1>{{val}}</h1>
<app-footer></app-footer>
