<h1>My First Edditing in angular</h1>
{{title}}
<h1>{{name}}</h1>
<h1>{{6*7}}</h1>
<h2>{{a+ar[0]}}</h2>
<h2>{{b+ar[1]}}</h2>
<h2>{{url}}</h2>
<h1><app-userlist></app-userlist></h1>
<h1><app-login></app-login></h1>
<button (click)="get(name)">get alert</button>
<br><br>
<button (click)="get1()">get alert1</button>
<br><br>

<input #box type="text" (keyup.space)="myEvent(box.value)"/>
<br><br>
<button (click)="myEvent(box.value)">get input box in console</button>
<br><br>
<div (mouseover)="myEvent('mouse over event')" style="background-color: antiquewhite;">Mouse event</div>
